.message {
  color: #666;
  font-size: 17;
  horizontal-align: center;
  padding:20;
}

button {
  background-color: #6494AA;
  padding: 10;
  margin: 10 20;
  font-size: 14;
  border-radius: 6;
}

.button {
  color: #ffffff;
}

.button-weakboom {
  background-color: #90A959;
}

.button-strongboom {
  background-color: #E0A458;
}

.button-burst {
  background-color: #64A4FF;
}